.listOfColors {
    /*Цвета палитры скопированные с прошлых сайтов 
            для поддержания единой стилистики и 
            быстрого заполнения стилей (tab)*/
    color: #0a0a0a;
    color: #1a1a1a;
    color: #2a2a2a;
    color: #333333;
    color: #444444;
    color: #666666;
    color: #b0b0b0;
    color: #e0e0e0;
    color: #ffffff;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono";
}

body {
    background-color: #0a0a0a;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    flex-direction: column
}

.container {
    margin: 20px;
    width: 90%;
    max-width: 500px;
    background-color: #1a1a1a;
    border-radius: 12px;
    justify-content: center;
    padding: 30px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
    animation: glow 10s infinite alternate;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
    }

    100% {
        box-shadow: 0 0 40px rgba(255, 255, 255, 0.15);
    }
}

.filledFromScript {
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    margin: 10px;
    color: #ffffff;
}

/* #canvas {
    width: 600px;
    height: 400px;
    margin-bottom: 20px;
} */

.chartGraph-container {
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 400px;
}

.input-zone {
    background-color: #2a2a2a;
    border: 1px solid #444444;
    color: #e0e0e0;
    padding: 12 px 15px;
    border-radius: 10px;
    font-size: 18px;
    width: 200px;
    height: 50px;
    text-align: center;
    margin: 10px;
    transition: border-color 0.5s ease;
}

.input-zone:focus {
    outline: none;
    border-color: #666666;
}

.button {
    background-color: #2a2a2a;
    color: #b0b0b0;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    margin: 10px;
    transition: all 0.2s ease;
}

.button:hover {
    background-color: #3a3a3a;
    color: #ffffff;
}